<web-app>
  <display-name>E-HealthCare Management System</display-name>
  
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dasboard</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFeedController</servlet-name>
    <servlet-class>UserFeedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFeedController</servlet-name>
    <url-pattern>/userf</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PayController</servlet-name>
    <servlet-class>PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomController</servlet-name>
    <servlet-class>RoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomController</servlet-name>
    <url-pattern>/room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppoController</servlet-name>
    <servlet-class>AppoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppoController</servlet-name>
    <url-pattern>/appo</url-pattern>
  </servlet-mapping>
</web-app>
